.hero{
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    
}
.heroWrapper{
   
    height: 212px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 29px 328px;
    margin-bottom: 0px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
        
}
.heroImage{
    width: 212px;
    height: 212px;
    flex-shrink: 0;
    margin-left: 20px;
}