.card{
    height: 1907px;
    padding: 20px;
    
}
.album{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  
    margin-top: 15px;
}
.topAlbum{
    display: flex;
}
.newAlbum{
    display: flex;
}