.songCard{
    width: 159px;
    height:205px;
    fill:#fff;
    margin: 10px;
    margin-bottom: 25px;
    
 
}
.cardbutton{
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 1px;
    border-radius: 10px;
    background: #121212; 
    margin: 6px 0px 6px 6px;
}
.cardtop{
    display:flex;
    border-radius: 10px !important;
}

.pill{
    font-size: 12px;
    background-color: var(--color-black);
    width:max-content;
    padding: 6px;
    border-radius: 10px;
    
}